<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
    <h1>Генератор паролей</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'email' %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}
        <input type="submit" value="Сгенерировать пароль" class="btn btn-primary">
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
     <a href="{% url 'send_password_email' %}?password={{ generated_password.password }}" class="btn btn-secondary">Send Password to Email</a>
    {% endfor %}
{% endif %}

</div>