
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отправить пароль</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container text-center">
        <h1>Отправить пароль</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.email }}
            <input type="hidden" name="password" value="{{ password }}">
            <input type="submit" value="Send" class="btn btn-primary">
        </form>
    </div>
</body>
</html>